DISCORD_TOKEN=YOUR_TOKEN

CLIENT_ID=YOUR_CLIENT_ID

GUILD_ID=YOUR_GUILD_ID

PTERO_URL=http://YOUR_PANEL

PTERO_API_KEY=YOUR_API_KEY

SERVER_ID=YOUR_SERVER_ID

RCON_HOST=YOUR_SERVER

RCON_PORT=25575

RCON_PASSWORD=YOUR_PASSWORD